#
# LGE touch core configuration
#
if INPUT_TOUCHSCREEN

menuconfig LGE_TOUCH_GOODIX_GT917D
	bool "LGE Touch Core ODM Device Driver - GT917D"
	depends on LGE_TOUCH_CORE_BASE
	help
	  If your device is gt917d, say Y
# To Do : Focal Tech Chipseet

endif
